/* Variables */
:root {
  /*fonts*/
  --main-font: 'Roboto', sans-serif;

  /*colors*/
  --color-black: #111111;
  --color-white: #ffffff;
  --color-grey: #434455;
  --color-orange: #9f6f3c;
}
/*Global*/
body {
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--color-grey);
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  background-color: var(--color-orange);
  color: var(--color-white);
  text-transform: uppercase;
  width: 216px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.04em;
}

/* Header */

/* Section 1 */

/* Section 2 */

/* -----------------Section 3------------------- */
.benefits {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  gap: 50px;
}
.benefits-progress-container {
  width: 650px;
}

.benefits-progress-text::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(255, 99, 99) 0%,
    rgb(250, 163, 100) 40%,
    rgb(94, 172, 94) 70%,
    rgb(0, 155, 0) 100%
  );
}

/* .progress-bar {
}
.benefits-progress-list {
}
.benefits-progress-item {
} */
.percent-progress {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 650px;
}
.benefits-progress-text {
  position: relative;
  line-height: 2;
  width: 700px;
}
/* .benefits-progress-subtext {
}
.benefits-container {
} */
.benefits-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-orange);

  margin: 0 0 20px 0;
}
.benefits-list {
  list-style-type: disc;
  padding-left: 1.5em;
}
/* .benefits-item {
} */

.benefits-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 2.30769;
  letter-spacing: 0.04em;
}

.btn-benefits {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  width: 300px;
}

/* Section 4 format sections*/

.formats-section {
  width: 100%;
}
.format-bgm-image {
}
.format-container {
}
.format-block {
  height: auto;
  background-color: #434455;
}
.format-title {
}
.format-list {
}
.format-item {
}
.btn-format {
}

/* Section 5 */

/* Section 6 */

/* Footer */
