/* Variables */
:root {
  /*fonts*/
  --main-font: 'Roboto', sans-serif;

  /*colors*/
  --color-black: #111111;
  --color-white: #ffffff;
  --color-grey: #434455;
  --color-d-grey: #1b1b1b;
  --color-brand: #9f6f3c;
}
/*Global*/
body {
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--color-grey);
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.header-section {
  background-color: var(--color-d-grey);
  color: var(--color-white);
}

.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  min-height: 100px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  gap: 70px;
}

.menu,
.lang-switch {
  display: flex;
  gap: 44px;
}

.menu-item,
lang-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  text-transform: capitalize;
}

.menu-item:hover a.item-link {
  color: var(--color-brand);
}

.main-btn {
  background-color: var(--color-brand);
  border: 1px solid #9f6f3c;
  padding: 15px 44px;
  max-width: 200px;
  height: 55px;
}

/* Section 1 */

/* Section 2 */

/* -----------------Section 3------------------- */

/* Section 4 */

/* Section 5 */

/* Section 6 */

/* Footer */
