/* Variables */
:root {
  /*fonts*/
  --main-font: 'Roboto', sans-serif;

  /*colors*/
  --color-black: #111111;
  --color-white: #ffffff;
  --color-grey: #434455;
  --color-d-grey: #1b1b1b;
  --color-brand: #9f6f3c;
  --color-orange: #9f6f3c;
  --color-btn: #0be925;
}

/*Global*/
body {
  font-family: var(--main-font);
  line-height: 1.5;
  color: var(--color-grey);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  background-color: var(--color-btn);
  color: var(--color-grey);
  text-transform: uppercase;
  width: 216px;
  height: 55px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.04em;
}

/* Header */
.header-section {
  background-color: var(--color-d-grey);
  color: var(--color-white);
}

.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  min-height: 100px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  gap: 70px;
}

.menu,
.lang-switch {
  display: flex;
  gap: 44px;
}

.menu-item,
lang-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  text-transform: capitalize;
}

.menu-item:hover a.item-link {
  color: var(--color-brand);
}

.main-btn {
  background-color: var(--color-brand);
  border: 1px solid #9f6f3c;
  padding: 15px 44px;
  max-width: 200px;
  height: 55px;
}

/* Section 1 */

.hero-section {
  background-color: var(--color-black);
  color: var(--color-white);
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  min-height: 100px;
  margin: 0 auto;

  padding: 127px 0 74px;
}

.hero-title {
  font-weight: 700;
  font-size: 67px;
  line-height: 118%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 97px;
}

.hero-cta {
  background-color: var(--color-brand);
  border: 1px solid #9f6f3c;
  padding: 15px 44px;
  max-width: 200px;
  min-height: 55px;
  text-transform: uppercase;

  margin-bottom: 60px;
}

.hero-section .desc {
  font-weight: 600;
  font-size: 17px;
  line-height: 118%;
  text-align: center;
}

/* CTA Section */

.cta-section .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 128px 0 60px;
}

.cta-list {
  margin-bottom: 60px;
}
/* Section 2 */

/* -----------------Section 3------------------- */

.benefits-container {
  display: flex;
  gap: 50px;
}

.benefits-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.benefits-list {
  list-style-type: decimal;
  padding-left: 35px;
}

.benefits-item:not(:last-child) {
  margin-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 2.3;
  letter-spacing: 0.04em;
}

.benefits-image-container {
  align-content: center;
}

.benefits-progress-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  width: 100%;
  margin-top: 128px;
}

.benefits-desk-container {
  width: 625px;
}

.benefits-progress-text::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(255, 99, 99) 0%,
    rgb(250, 163, 100) 40%,
    rgb(94, 172, 94) 70%,
    rgb(0, 155, 0) 100%
  );
}

.benefits-progress-text {
  position: relative;
  line-height: 2;
  width: 600px;
  margin-bottom: 15px;
}

.btn-benefits {
  margin: 128px auto 0 auto;
  width: 300px;
}

/* Section 4 format sections*/

.formats-section {
  width: 100%;
}
.format-bgm-image {
}
.format-container {
}
.format-block {
  height: auto;
  background-color: #434455;
}
.format-title {
}
.format-list {
}
.format-item {
}
.btn-format {
}

/* Section 5 */
.appointment-container {
  width: 1300px;
}

.appointment-title {
  font-family: var(--main-font);
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 55px;
  letter-spacing: 0.5px;
  color: #1b1b1b;
}

.post-title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.post-text {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #1b1b1b;
}

.post-text-link {
  font-weight: 700;
}

.post-text-link:hover,
.post-text-link:focus {
  color: #9f6f3c;
}

.appointment-btn {
  cursor: pointer;
  background-color: orange;
  font-weight: 600;
}

.appointment-btn:hover,
.appointment-btn:focus {
  background-color: darkorange;
}

/* Section 6 */

/* Footer */